:root {
  --primary-color: #c83067;
  --primary-white-color: #ffffff;
}

@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir.woff2") format("woff2"),
    url("fonts/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir-Bold.woff2") format("woff2"),
    url("fonts/Vazir-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Vazir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 2000px;
  margin: auto !important;
}
main {
  background-color: var(--primary-white-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c2185b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ad1457;
}
.cards-container {
  margin: 0 16px;
  border-radius: 24px;
}
section.hero-section {
  height: 100vh;
  min-height: 700px;
  position: relative;
  overflow: hidden;
  background: white;
}
#pink-bg {
  position: relative;
  margin: auto;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 97%;
  background: var(--primary-color);
  border-radius: 400px;
  box-shadow: 4px 12px 32px 0px #b15e72b2;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 5%;
  color: var(--primary-white-color);
  text-align: center;
  max-width: 55%;
}
.hero-content h1 {
  font-size: clamp(18px, 5vw, 70px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.hero-content h3 {
  font-size: clamp(7px, 2.5vw, 40px);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero-content a p {
  font-size: clamp(7px, 2vw, 40px);
  font-weight: 700;
  line-height: 1.2;
  margin: auto;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--primary-white-color);
  transition: all 0.3s ease;
  max-width: 50%;
}
.hero-img-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.circle {
  position: absolute;
  border: 8px solid #ff699f;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  animation: pulse 3s ease-in-out infinite;
}
.circle-1 {
  height: 100%;
  opacity: 0.5;
}
.circle-2 {
  height: 85%;
  opacity: 0.3;
  left: 8px;
}
.circle-5 {
  height: 70%;
  background-color: rgba(255, 109, 158, 0.69);
  filter: blur(50px);
  left: 2rem;
  position: absolute;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.health-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  direction: rtl;
  background: linear-gradient(270deg, #ffebf1 0%, #ffffff 100%);
  max-height: 600px;
}

.health-text {
  opacity: 0;
  flex: 1 1 48%;
  min-width: 260px;
  transform: translateY(30px);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.health-text.active {
  opacity: 1;
  transform: translateY(0);
}

.health-text h3 {
  color: #c83067;
  font-size: clamp(12px, 4vw, 50px);
  margin-bottom: 2rem;
  text-align: right;
  font-weight: 700;
  line-height: 1.2;
}
.health-text p {
  color: #444;
  line-height: 1.8;
  font-size: clamp(12px, 3vw, 38px);
  text-align: right;
  font-weight: 700;
  line-height: 1.5;
}

.circle-wrapper {
  position: relative;
  flex: 1 0 min(520px, 48%);
  width: min(520px, 48%);
  aspect-ratio: 1 / 1;
  min-width: 280px;
}

.health-circle {
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.health-circle .percent {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 50px);
  margin-bottom: 6px;
  direction: rtl;
}

.health-circle p {
  font-size: clamp(6px, 1.2vw, 20px);
  line-height: 1.4;
  margin: 0;
  direction: rtl;
}

.health-circle.pink.active {
  top: 29%;
  left: 70%;
  width: 42%;
  opacity: 1;
  transform: translate(-50%, -50%);
  background: #efd8f5;
  box-shadow: -2px 3px 7px 2px #f3c3fc;
}
.health-circle.blue.active {
  top: 50%;
  left: 28%;
  width: 40%;
  opacity: 1;
  background: #c8efff;
  transform: translate(-50%, -50%);
  box-shadow: -2px 3px 7px 2px #a5d7ec;
}

.health-circle.green.active {
  top: 73%;
  left: 69%;
  width: 34%;
  opacity: 1;
  background: #d4fade;
  box-shadow: -2px 3px 7px 2px #a9eab8;
  transform: translate(-50%, -50%);
}

.health-circle.pink {
  width: 42%;
  transform: translate(-50%, -50%);
  background: #efd8f5;
  box-shadow: -2px 3px 7px 2px #f3c3fc;
}
.health-circle.blue {
  width: 40%;
  background: #c8efff;
  transform: translate(-50%, -50%);
  box-shadow: -2px 3px 7px 2px #a5d7ec;
}

.health-circle.green {
  width: 34%;
  background: #d4fade;
  box-shadow: -2px 3px 7px 2px #a9eab8;
  transform: translate(-50%, -50%);
}

/* Features section */

.app-features {
  padding: 3rem;
  direction: rtl;
  margin: 0 auto;
}

.features-heading {
  font-size: clamp(1.3rem, 4vw, 3rem);
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #111;
}
.features-heading span {
  color: var(--primary-color);
}

/* گرید اصلی */
.features-grid {
  display: grid;
  gap: 0.5rem;
}

/* کارت‌ها */
.feature-card {
  background: #fff;
  border-radius: 20px;
  padding: 1.8rem 1.4rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}

/* عنوان */
.feature-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}

/* متن */
.feature-text {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.7;
}

/* آیکون ساختگی – بعداً تصویر می‌ذاری */
.feature-icon {
  position:relative
  width: 100%;
}
.feature-sub-icon {
  position: absolute;
  background: var(--primary-white-color);
}

/* رنگ‌بندی مخصوص هر کارت */
.card-nutrition {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
  background: #efd8f5a3;
}
.card-nutrition .feature-icon img {
  max-width: 30%;
  margin: auto;
}

.card-chat {
  grid-column: 5 / 6;
  grid-row: 1 / 5;
  background: #ffe0ec;
}

.card-supplements {
  grid-row: 2 / 5;
  background: #fff1c6;
  grid-column: 2 / 5;
  background: #fff1c6;
}

.card-fitness {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
  background: #e3f7dd;
}

.card-weight {
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  background: #e0f2ff;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-50%) scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 0.6;
  }
}
@keyframes arcMove {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -70%) scale(1.05); /* کمی بالا بره */
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.health-circle.active {
  animation: arcMove 1s cubic-bezier(0.55, 0, 0.1, 1);
}

@media (max-width: 768px) {
  section.hero-section {
    height: auto;
    min-height: 500px;
  }
  .hero-content a p {
    padding: 0.5rem;
  }
  #pink-bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 8px 16px 0px #b15e72b2;
  }
  .health-text {
    min-width: 43%;
  }
  .health-text h3 {
    font-size: clamp(12px, 2.2vw, 28px);
    margin-bottom: 0.6rem;
  }
  .health-text p {
    font-size: clamp(12px, 1.3vw, 18px);
  }
  .circle-wrapper {
    min-width: auto !important;
  }

  .health-circle.pink.active {
    width: 50%;
    left: 82%;
    top: 22%;
  }
  .health-circle.blue.active {
    width: 50%;
    left: 28%;
    top: 50%;
  }

  .health-circle.green.active {
    width: 40%;
    left: 77%;
    top: 72%;
  }
}

@media (max-width: 576px) {
  section.hero-section {
    min-height: 300px;
  }
  .hero-content h3 {
    margin-bottom: 8px;
  }
}
@media (max-width: 480px) {
  section.hero-section {
    min-height: 250px;
  }
  .circle {
    border-width: 2px;
  }

  .health-circle.pink.active {
    width: 60%;
    left: 77%;
    top: 22%;
  }
  .health-circle.blue.active {
    width: 62%;
    left: 15%;
    top: 50%;
  }

  .health-circle.green.active {
    width: 55%;
    left: 70%;
    top: 85%;
  }

  .health-circle.green {
    width: 55%;
  }
  .health-circle.blue {
    width: 62%;
  }
  .health-circle.pink {
    width: 60%;
  }
  .circle-wrapper {
    min-width: auto !important;
  }

  .health-text {
    min-width: auto;
  }
  .health-text p {
    font-size: clamp(7px, 1.3vw, 18px);
  }
}
